@model IEnumerable<MantenimientoDeEquipos.Models.Dto.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de funcionarios</h2>

@Html.ActionLink("Agregar Funcionario", "Create", " ", new { @class="btn btn-success"})

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Funcionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Funcionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit"," ", new { /* id=item.PrimaryKey */ @class="btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete"," ", new { /* id=item.PrimaryKey */  @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
