@model IEnumerable<MantenimientoDeEquipos.Models.Dto.TipoComputador>

@{
    ViewBag.Title = "Index";
}

<h2>Lista tipos de computadores</h2>

 @Html.ActionLink("Create Nuevo", "Create"," ", new { @class="btn btn-info"})
    <br />
<table class="table table-bordered">
    <tr>
        <th hidden="hidden">
            @Html.DisplayNameFor(model => model.Id_TipoComputador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoComputador)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden="hidden">
            @Html.DisplayFor(modelItem => item.Id_TipoComputador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoComputador)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit"," ", new { /* id=item.PrimaryKey */  @class="btn btn-info"})
            @Html.ActionLink("Eliminar", "Delete"," ", new { /* id=item.PrimaryKey */ @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
